.customInput {
  position: relative;
  z-index: 1;

  width: 158px;
}

.iconContainer {
  position: absolute;
  z-index: 3;
  top: 16%;
  right: 10px;
}

.customInputForRange {
  width: 268px;
}

.error {
  @apply text-danger-500;
}
