@import './variables';

@mixin text($fontFamily, $fontSize, $lineHeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $textColor;
}

@mixin borderBottom($border) {
  border-bottom: 1px solid $border;
}

@mixin textInput($fontSize, $lineHeight, $textColor, $weight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $weight;
  line-height: $lineHeight;
  color: $textColor;
}
