@import '/src/styles/sass/variables';

@import '/src/styles/sass/mixins';

.container {
  width: 100%;
  height: 100%;

  .label {
    @apply flex flex-col justify-center;

    @include textInput(14px, 24px, #4c4c4c, $weight);
  }

  input {
    @include borderBottom($borderInput);

    @include textInput(16px, 24px, #bdc1c7, $weight);

    position: relative;

    display: flex;

    width: 100%;
    height: 36px;
    padding: 0 45px 0 0;

    background: transparent;
    outline: none;
    outline-offset: 0;

    &::placeholder {
      @include textInput(16px, 24px, #bdc1c7, $weight);

      background: transparent;
      outline: none;
      outline-offset: 0;
    }

    &.inputBottomError {
      @include borderBottom(#cc1439);
    }

    &:hover {
      @include borderBottom(#bdc1c7);

      color: #bdc1c7;

      background: transparent;
      outline: none;
      outline-offset: 0;
    }

    &:active {
      @include borderBottom(#ffffff);

      color: #ffffff;

      outline: none;
      outline-offset: 0;
    }

    &:focus {
      @include borderBottom(#ffffff);

      color: #ffffff;

      outline: none;
      outline-offset: 0;
    }

    &:disabled {
      @include borderBottom(#4c4c4c);

      color: #4c4c4c;

      background: transparent;
      outline: none;
      outline-offset: 0;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    background: transparent;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;

    transition: background-color 5000s ease-in-out 0s;

    -webkit-text-fill-color: #bdc1c7;
  }
}

.error {
  @include textInput(14px, 18px, #cc1439, $weight);

  position: absolute;
  top: 38px;
}
