/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Tailwind base */

@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 100vh;

  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;

  background-color: #050505;
}

.container {
  @apply flex items-center justify-between w-full h-full mx-auto;
}

.mainBtn {
  @apply font-semibold leading-6 px-[24px] py-[6px] rounded-sm flex justify-center align-middle transition-all duration-300;
}

.default {
  @apply bg-accent-500 text-light-100 active:bg-accent-700 hover:bg-accent-100 disabled:bg-accent-900;
}

.white {
  @apply bg-light-100 text-dark-900 active:bg-light-700 hover:bg-light-700 disabled:bg-light-900 disabled:text-dark-100 focus:border-[2px] focus:border-accent-700;
}

.transparent {
  @apply text-accent-500 bg-transparent border-[1px] border-accent-500 hover:text-accent-100 hover:border-[1px] hover:border-accent-100 hover:bg-transparent disabled:border-accent-900 disabled:text-accent-900;
}

.black {
  @apply text-accent-500 outline-none hover:text-accent-100  disabled:text-accent-900 outline-none;
}
