/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-accent-700;

  position: fixed;
  z-index: 1031;
  top: 4rem;
  left: 0;

  width: 100%;
  height: 2px;

  opacity: 70%;
}
